.modal{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #101010;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #adadad;
}

.modal-background{
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000078;
}